*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  background: #88c3fb70;
}
.head{
  font-size: 3rem;
  color: #1E60AA !important;
  padding: 10px;
}
.icons-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.icon{
  margin-right: 25px;
  font-size: 25px;
  cursor: pointer;
  }
  .icon:nth-child(1){
    color: rgba(240, 13, 43, 0.918);
  }
  .icon:nth-child(2){
    color: rgb(7, 192, 7) ;
  }


  nav{
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /* padding:  10px; */
  }
  nav ol{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: 4vw;
    margin-right: 4vw;
    background-color: rgb(250, 250, 250);
  }
nav ol ul{
  margin-right: 29vw;
}
  nav ol ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;

  }


  nav ol ul li a{
    text-transform: capitalize;
     text-decoration: none;
     font-size: 1.5rem;
     color: #17224D;
  }


  nav ol ul li a:hover{
    cursor: pointer;
    padding: 3px;
    border-bottom: 3px solid #1E60AA;
    border-radius: 10px;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }











  .FaPhone{
    transform: rotate(90deg);
    font-size: 2rem;
    color: #fff;
    margin: 13px;
  }
  .phone{
    font-size: 1.7rem;
    color: red;
  }




  /*-----------------------Home-------------------------- */
  .main{
    background: url('./components/images/carousel-1.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    justify-content: center;
  }
  .mian-content {
    width: 70%;
    margin-top: 9vh;
    height: fit-content;
    position: relative; /* Required for pseudo-elements */
    border-left: 20px solid #fff;
    border-right: none;
    padding: 2%;
    left: -60px;
  }
  
  .mian-content::before,
  .mian-content::after {
    content: "";
    position: absolute;
    width: 80px; /* Length of the border */
    height: 20px; /* Thickness of the border */
    background-color: #fff; /* Color of the border */
  }
  
  .mian-content::before {
    top: 0; /* Position at the top */
    left: 0; /* Start at the left edge */
  }
  
  .mian-content::after {
    bottom: 0; /* Position at the bottom */
    left: 0; /* Start at the left edge */
  }
  
  
  .initial{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    margin-top: 50px;
  }
  .initial2{
    font-size: 67px;
    font-weight: bolder;
    color: #fff;
    line-height: 100px;
  }
  .initial3{
    font-size: 23px;
    color: #fff;
    font-weight: 700;
  }
  .read-more, .whatsapp{
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 10px;
    color: #fff;
    margin-top: 40px;
    background-color: rgb(22, 88, 210);
    cursor: pointer;
    border: none;
  }
  .whatsapp{
    background-color: rgb(69, 168, 69) !important;
    margin-left: 45px;
  }
  .main-buttons{
    margin-bottom: 70px;
  }
  .houser{
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  /* .houser img:hover{
    cursor: pointer;
  } */
  .cards{
    width: 400px;
    height: fit-content;
    background-color: #EDF1FC ;

  }
  .card-img{
    width: 400px;
    height: 200px;
  }
  .card-text{
    font-size: 1.4em;
    font-weight: 800;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: inherit;
    align-items: center;
    color:   #17224d;
  }
  .FaArrowRight{
    color: #1E60AA;
    margin-left: 13vh;
    border: 1px solid #fff;
    padding: 6px;
    font-size: 2rem;
    font-weight: 800;
  }
  .FaArrowRight:hover{
    background-color: #1023cea7;
    cursor: pointer;
  }
  /* ---------------------about section-------------- */
  /* need to add the image */
  .a-bout{
    display: flex;
    justify-content: center;
  }
.about-us-img-container{
  width: 600px;
  height: 650px;
  }
  .about-us-img-container img:nth-child(1){
    width: 75%;
     height: 490px;
     margin-left: 89px;
      }
  .about h4{
    text-transform: capitalize;
    color: orange;
    font-size: 24px;
    margin-left: 6vw;
    margin-bottom: 30px;
  }
  .about-text{
    width: 580px;
  }
  .about-text h1{
    font-size: 3em;
    margin-bottom: 15px;
  }
  .about-text p{
    margin-top: 20px;
    padding: 9px;
    font-size: 20px;
    margin-bottom: 15px;
  }
  .about-text ul{
    margin-bottom: 40px;
  }
  .about-text ul li{
    margin-top: 10px;
    font-size: 20px;
    list-style: none;
    margin-left: 10px;
    color: blue;
  }
  .inAbout{
    margin-top: 28px;
    width: 550px;
    height: 130px;
    display: flex;
    justify-content: left;
  }
  .image5{
    width: 245px !important;
    height: 250px !important;
    top: -36vh;
    left: 16px;
    position: relative;
  }
  #phone-container{
    background-color: #1E60AA;
    display: flex;
    align-items: center;
    color: #fff;
  }
  .marks {
    color: green;
  }
  
   /* services */
   .services{
    display: flex;
    justify-content: space-between;
   }
   .years {
    background-color: #1E60AA ;
    width: 1000px;
    margin-right: 5vw;
    display: flex; /* Enables Flexbox */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
}
.years p{
  color: white;
  width: 100%;
  font-size: 4.5em;
  transform: rotate(270deg);
  font-weight: 800;
}


   .services-container h3{
    color: orange;
    font-size: 1.9em;
   }
   .Explore-Our-Services{
font-size: 2em;
font-weight: 800;
margin-bottom: 50px;
   }
   .offer-text{
    margin-top: 6vh;
    font-size: 20px;
    margin-bottom: 6vh;
   }
   .cards-container{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   }
   .service-cards{
    margin: 5px;
    width: 450px;
    background-color: #EDF1FC ;
    height: 300px;
   }
   .service-icons{
    font-size: 4rem;
    border: 4px solid #ffffff;
    margin: 13px;
    padding: 10px;
    color: blue;
   }
   .service-cards h2{
    margin-top: 8vh;
    padding: 12px;
   }
   .service-cards p{
    padding: 12px;
   }
   /* testimonials */
   .testimonials{
    margin-top: 60px;
    margin-bottom: 40px;
   }
   .testimonials-container{
    width: 100%;
    display: flex;
    justify-content: center;

   }
   .testimonials h3{
    text-align: center;
    font-size: 2em;
   }
   .testimonials h1{
    text-align: center;
    font-size: 2.6em;
    margin: 8px;
   }
   .clients{
    width: 400px;
    padding: 6px;
    text-align: center;
   }
   .clients p{
    border: 2px solid;
    text-align: center;
    padding: 15px;
    box-shadow: 3px 3px 5px;
   } 
   .clients h5{
    color: gray;
    font-size: 25px;
    font-weight: lighter;
   } 
   .stars{
margin: 9px;
   }


   .contact {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
  }
  
  .number-container {
    width: 100%;
    /* max-width: 660px; */
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .number-container h1 {
    margin-bottom: 10px;
    color: orange;
  }
  
  .number-container span {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    color: #17224d;
    font-size: 2.5em;
    font-weight: 800;
  }
  
  .number-container p {
    font-size: 20px;
    line-height: 1.5;
  }
  
  .number-container a {
    color:  #1023cea7;
    text-decoration: underline;
    margin: 5px;
    text-decoration: none;
  }
  
  .formContainer {
    max-width: 660px;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .formContainer form {
    background-color: #EDF1FC;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
  }
 
  
  .name,
  .email,
  .subject,
  #message {
    width: 100%;
    font-size: 17px;
    padding: 12px 15px;
    margin-bottom: 15px !important;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-transform: capitalize;
    box-sizing: border-box;
  }
  .name,
  .email{
    width: 40%;
    height: 64px;
    margin: 8px;
  }
  
  .subject {
    font-size: 18px;
  }
  
  #message {
    font-family: inherit;
  }
  
  .btnContainer {
    text-align: center;
  }
  
  .btnContainer button {
    background-color: #1023cea7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.6em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .btnContainer button:hover {
    background-color: navy;
  }
  /* footer */
  .footer {
    background-color:  #17224D;
    color: white;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .footer-column {
    flex: 1;
    min-width: 250px;
    margin: 0 10px;
  }
  
  .footer-column h3 {
    font-size: 20px;
    margin-bottom: 15px;
    display: inline-block;
    padding-bottom: 5px;
  }
  
  .footer-column p {
    margin: 5px 0;
    line-height: 1.6;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column li {
    margin: 8px 0;
  }
  .insta, .whatapp{
border: 1px solid white;
padding: 8px;
font-size: 40px;
border-radius: 50%;
margin: 10px;
color: #25D366;
  }
  .insta{
    color: #c50000 !important;
  }
  .footer-column a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #fff;
  }

  .copy{
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    margin-top: 17px;
  }
 /* -----------------------------projects page --------------------- */
 .work-container h3, h1{
  text-align: center;
  margin: 8px;
  text-transform: capitalize;
 }
 .work-container h1{
  font-size: 2.6em;
  font-weight: 800;
 }
 .work-type, .before-after{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
 }
 picture{
  width: 84%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8px;
  margin-bottom: 40px;
 }

 figure{
  width: 270px;
  height: 300px;
  margin-bottom: 100px;
 }
 .work-images{
  width: 100%;
  height: 100%;
 }
 figcaption{
  width: inherit;
  height: 70px;
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: 700;
  place-content: center;
 }
 figcaption span{
font-size: 16px;
font-weight: 400 !important;
color: gray;
 }










 /*---------------mobile design------------ */
 @media (max-width: 1220px) {

  .cards{
    width: 300px;
    background-color: #EDF1FC ;
background-color: orange;
  }
  .card-img{
    width: 100%;
    height: auto;
  }
  .card-text{
    font-size: 1.4em;
    padding: 5px;
  }
  .FaArrowRight{
    margin-left: 3vw;
    padding: 6px;
    font-size: 1.6rem;
  }
 
 }
 @media (max-width: 940px) {
  .houser{
    flex-wrap: wrap;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 35px;
  }
  .cards{
    margin: 10px;
  }
  .a-bout{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
.about-us-img-container{
  margin-top: 35px;
}

  .about h4{
    text-align: center;
  }
  
  .image5{
    width: 300px !important;
    height: 250px !important;
    top: -46vh;
    left: -37px;
    position: relative;
  }
  .years{
    display: none;
  }
  .services{
    display: flex;
    justify-content: center;
   }
   .services-container{
    width: 60%;
   }
   .contact {
    width: 100%;
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

 }
 /*
 @media (max-width: 768px) {
  nav{
    position: relative;
  }
  nav ul {
position: absolute;
width: 70%;
height: fit-content;
background: #2c3e50;
top: 80px;
left: -100%;
text-align: center;
transition: all .5s;
  }
  nav ul li{
    display: block;
  }
  #check:checked ~ ul {
    left: 0;
  }
 } */
 @media (max-width: 768px) {
  .head {
    font-size: 2rem;
    text-align: center;
  }

  .icons-header {
    flex-direction: column;
    gap: 10px;
  }

  .icon {
    margin-right: 15px;
    font-size: 20px;
  }

  .navComponents {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }
  .checkbtn{
    display: block;
  }

  nav {
    position: static;
    width: 100%;
    background-color: #17224D;
  }

  nav ol {
    display: none;  /* Initially hide menu items */
    flex-direction: column;
    gap: 20px;
    background: #980d0d;
    padding: 20px;
    position: relative;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: fit-content;
  }

  /* #phone-container {
    display: none;  
    flex-direction: column;
    gap: 20px;
    background: #980d0d;
    padding: 20px;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: fit-content;
  } */

  /* Show the navigation and phone container when menu is open */
  nav ol ul.active, #phone-container.active {
    display: flex;
  }

  .Bars {
    display: block;
    font-size: 2rem;
    margin-top: 15px;
    margin-left: auto;
    cursor: pointer;
  }

  .services-container{
    width: 100%;
  }
  .cards-container{
    width: 100%;
   }
  .service-cards{
    margin: 10px;
    border-radius: 6px;
   }
   .service-icons{
    font-size: 4rem;
    border: 4px solid #ffffff;
    margin: 13px;
    padding: 10px;
    color: #17224D;
   }

.a-bout{
  
  display: flex;
  justify-content: center;
}
.about-text{
  width: 100%;
}

.about-text ul{
  margin-bottom: 40px;
  margin: 6px;
}
.about-text ul li{
  margin-top: 10px;
  font-size: 20px;
  list-style: none;
  margin-left: 10px;
  color: blue;
}
.inAbout{
  width: 100%;
  height: fit-content;
}
.inAbout p{
  width: 100%;
  font-size: 18px;
}
.inAbout span{
  font-size: 1.2em;
}


.about-us-img-container{
  width: 600px;
  height: fit-content;
  }
  .about-us-img-container img:nth-child(1){
    width:79%;
     height: 320px;
     margin-left: 59px;
     object-fit: cover;
      }
      .image5{
        width: 140px !important;
        height: 160px !important;
        top: -31vh;
        left: 10px;
        position: relative;
      }

      .main{
        width: 100%;
        height: fit-content; 
   margin-bottom: 19px;
      }
      .mian-content {
        width: 100%;
        margin-top: 19px;
        height: fit-content;
        position: relative; /* Required for pseudo-elements */
        border-left: 0px ;
        border-right: none;
        padding: 0;
        left: 0px;
        margin-left: 15px;
      }
      
      .mian-content::before,
      .mian-content::after {
        content: "";
        position: relative;
        width: 0px; /* Length of the border */
        height: 0px; /* Thickness of the border */
      }
      
      .mian-content::before {
        top: initial; /* Position at the top */
        left: initial; /* Start at the left edge */
      }
      
      .mian-content::after {
        bottom: 0; /* Position at the bottom */
        left: 0; /* Start at the left edge */
      }
      .initial{
        font-size: 16px;
        color: #fff;
        font-weight: 600;
        margin-top: 0px;
        width: 65%;
      }
      .initial2{
        width: 65%;
        font-size: 30px;
        font-weight: 600 !important;
        color: #fff;
        line-height: initial;
      }
      .initial3{
        font-size: 16px;
        color: #fff;
        font-weight: 400;
        width: 79%;
        margin-top: 19px;
      }
      .read-more, .whatsapp{
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        margin-top: 30px;
        margin-left: 12px;
      }
      .whatsapp{
        margin-left: 20px;
      }
      .main-buttons{
        margin-bottom: 20px;
      }
      .houser{
        position: relative;
        height: fit-content;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
  }
